<strong>
  Olá {{ provider }},
</strong>
<p>
  Um novo chamado  foi aberto
</p>
<p>
  <strong>Cliente:</strong> {{ user }} <br/>
  <strong>Data/Hora:</strong> {{ date }} <br/> <br />
  <small>Envio automatico</small>
</p>
